<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}{% if title %} - {% endif %}Python.PH Jobs Board</title>
    <meta name="description" content="{{ description }}" />
    <meta name="robots" content="follow, index, max-snippet:-1" />
    <!-- <link rel="canonical" href="{{ request.path }}" /> -->
    <meta property="og:type" content="{{ page_type }}" />
    <meta property="og:title" content="{{ title }}{% if title %} - {% endif %}Python.PH Jobs Board" />
    <meta property="og:description" content="{{ description }}" />
    <!-- <meta property="og:image" content="" /> -->
    <!-- <meta property="og:url" content="{{ request.path }}" /> -->
    <meta property="og:site_name" content="Python.PH Jobs Board" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title }}{% if title %} - {% endif %}Python.PH Jobs Board" />
    <meta name="twitter:description" content="{{ description }}" />
    <!-- <meta name="twitter:image" content="" /> -->
    {% block job_schema %}{% endblock %}
    {% load static tailwind_tags %}
    {% tailwind_css %}
</head>
<body>
    <!-- Navbar -->
    {% include 'navbar.html' %}
    <div class="container mx-auto px-4 py-8 max-w-5xl">
        {% block content %} {% endblock %}
    </div>

    {% include 'footer.html' %}
</body>
</html> 
